html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.range__container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden; }
.range__content {
  position: absolute;
  width: 100%;
  -webkit-user-select: none;
  box-sizing: border-box; }
.range__item {
  height: 100px;
  width: 100vw;
  position: absolute; }
  .range__item:nth-child(1) {
    background-color: #010101;
    left: 0vw; }
  .range__item:nth-child(2) {
    background-color: #020202;
    left: 100vw; }
  .range__item:nth-child(3) {
    background-color: #030303;
    left: 200vw; }
  .range__item:nth-child(4) {
    background-color: #040404;
    left: 300vw; }
  .range__item:nth-child(5) {
    background-color: #050505;
    left: 400vw; }
  .range__item:nth-child(6) {
    background-color: #060606;
    left: 500vw; }
  .range__item:nth-child(7) {
    background-color: #070707;
    left: 600vw; }
  .range__item:nth-child(8) {
    background-color: #080808;
    left: 700vw; }
  .range__item:nth-child(9) {
    background-color: #090909;
    left: 800vw; }
  .range__item:nth-child(10) {
    background-color: #0a0a0a;
    left: 900vw; }
  .range__item:nth-child(11) {
    background-color: #0b0b0b;
    left: 1000vw; }
  .range__item:nth-child(12) {
    background-color: #0c0c0c;
    left: 1100vw; }
  .range__item:nth-child(13) {
    background-color: #0d0d0d;
    left: 1200vw; }
  .range__item:nth-child(14) {
    background-color: #0e0e0e;
    left: 1300vw; }
  .range__item:nth-child(15) {
    background-color: #0f0f0f;
    left: 1400vw; }
  .range__item:nth-child(16) {
    background-color: #101010;
    left: 1500vw; }
  .range__item:nth-child(17) {
    background-color: #111111;
    left: 1600vw; }
  .range__item:nth-child(18) {
    background-color: #121212;
    left: 1700vw; }
  .range__item:nth-child(19) {
    background-color: #131313;
    left: 1800vw; }
  .range__item:nth-child(20) {
    background-color: #141414;
    left: 1900vw; }
  .range__item:nth-child(21) {
    background-color: #151515;
    left: 2000vw; }
  .range__item:nth-child(22) {
    background-color: #161616;
    left: 2100vw; }
  .range__item:nth-child(23) {
    background-color: #171717;
    left: 2200vw; }
  .range__item:nth-child(24) {
    background-color: #181818;
    left: 2300vw; }
  .range__item:nth-child(25) {
    background-color: #191919;
    left: 2400vw; }
  .range__item:nth-child(26) {
    background-color: #1a1a1a;
    left: 2500vw; }
  .range__item:nth-child(27) {
    background-color: #1b1b1b;
    left: 2600vw; }
  .range__item:nth-child(28) {
    background-color: #1c1c1c;
    left: 2700vw; }
  .range__item:nth-child(29) {
    background-color: #1d1d1d;
    left: 2800vw; }
  .range__item:nth-child(30) {
    background-color: #1e1e1e;
    left: 2900vw; }
  .range__item:nth-child(31) {
    background-color: #1f1f1f;
    left: 3000vw; }
  .range__item:nth-child(32) {
    background-color: #202020;
    left: 3100vw; }
  .range__item:nth-child(33) {
    background-color: #212121;
    left: 3200vw; }
  .range__item:nth-child(34) {
    background-color: #222222;
    left: 3300vw; }
  .range__item:nth-child(35) {
    background-color: #232323;
    left: 3400vw; }
  .range__item:nth-child(36) {
    background-color: #242424;
    left: 3500vw; }
  .range__item:nth-child(37) {
    background-color: #252525;
    left: 3600vw; }
  .range__item:nth-child(38) {
    background-color: #262626;
    left: 3700vw; }
  .range__item:nth-child(39) {
    background-color: #272727;
    left: 3800vw; }
  .range__item:nth-child(40) {
    background-color: #282828;
    left: 3900vw; }
  .range__item:nth-child(41) {
    background-color: #292929;
    left: 4000vw; }
  .range__item:nth-child(42) {
    background-color: #2a2a2a;
    left: 4100vw; }
  .range__item:nth-child(43) {
    background-color: #2b2b2b;
    left: 4200vw; }
  .range__item:nth-child(44) {
    background-color: #2c2c2c;
    left: 4300vw; }
  .range__item:nth-child(45) {
    background-color: #2d2d2d;
    left: 4400vw; }
  .range__item:nth-child(46) {
    background-color: #2e2e2e;
    left: 4500vw; }
  .range__item:nth-child(47) {
    background-color: #2f2f2f;
    left: 4600vw; }
  .range__item:nth-child(48) {
    background-color: #303030;
    left: 4700vw; }
  .range__item:nth-child(49) {
    background-color: #313131;
    left: 4800vw; }
  .range__item:nth-child(50) {
    background-color: #323232;
    left: 4900vw; }
  .range__item:nth-child(51) {
    background-color: #333333;
    left: 5000vw; }
  .range__item:nth-child(52) {
    background-color: #343434;
    left: 5100vw; }
  .range__item:nth-child(53) {
    background-color: #353535;
    left: 5200vw; }
  .range__item:nth-child(54) {
    background-color: #363636;
    left: 5300vw; }
  .range__item:nth-child(55) {
    background-color: #373737;
    left: 5400vw; }
  .range__item:nth-child(56) {
    background-color: #383838;
    left: 5500vw; }
  .range__item:nth-child(57) {
    background-color: #393939;
    left: 5600vw; }
  .range__item:nth-child(58) {
    background-color: #3a3a3a;
    left: 5700vw; }
  .range__item:nth-child(59) {
    background-color: #3b3b3b;
    left: 5800vw; }
  .range__item:nth-child(60) {
    background-color: #3c3c3c;
    left: 5900vw; }
  .range__item:nth-child(61) {
    background-color: #3d3d3d;
    left: 6000vw; }
  .range__item:nth-child(62) {
    background-color: #3e3e3e;
    left: 6100vw; }
  .range__item:nth-child(63) {
    background-color: #3f3f3f;
    left: 6200vw; }
  .range__item:nth-child(64) {
    background-color: #404040;
    left: 6300vw; }
  .range__item:nth-child(65) {
    background-color: #414141;
    left: 6400vw; }
  .range__item:nth-child(66) {
    background-color: #424242;
    left: 6500vw; }
  .range__item:nth-child(67) {
    background-color: #434343;
    left: 6600vw; }
  .range__item:nth-child(68) {
    background-color: #444444;
    left: 6700vw; }
  .range__item:nth-child(69) {
    background-color: #454545;
    left: 6800vw; }
  .range__item:nth-child(70) {
    background-color: #464646;
    left: 6900vw; }
  .range__item:nth-child(71) {
    background-color: #474747;
    left: 7000vw; }
  .range__item:nth-child(72) {
    background-color: #484848;
    left: 7100vw; }
  .range__item:nth-child(73) {
    background-color: #494949;
    left: 7200vw; }
  .range__item:nth-child(74) {
    background-color: #4a4a4a;
    left: 7300vw; }
  .range__item:nth-child(75) {
    background-color: #4b4b4b;
    left: 7400vw; }
  .range__item:nth-child(76) {
    background-color: #4c4c4c;
    left: 7500vw; }
  .range__item:nth-child(77) {
    background-color: #4d4d4d;
    left: 7600vw; }
  .range__item:nth-child(78) {
    background-color: #4e4e4e;
    left: 7700vw; }
  .range__item:nth-child(79) {
    background-color: #4f4f4f;
    left: 7800vw; }
  .range__item:nth-child(80) {
    background-color: #505050;
    left: 7900vw; }
  .range__item:nth-child(81) {
    background-color: #515151;
    left: 8000vw; }
  .range__item:nth-child(82) {
    background-color: #525252;
    left: 8100vw; }
  .range__item:nth-child(83) {
    background-color: #535353;
    left: 8200vw; }
  .range__item:nth-child(84) {
    background-color: #545454;
    left: 8300vw; }
  .range__item:nth-child(85) {
    background-color: #555555;
    left: 8400vw; }
  .range__item:nth-child(86) {
    background-color: #565656;
    left: 8500vw; }
  .range__item:nth-child(87) {
    background-color: #575757;
    left: 8600vw; }
  .range__item:nth-child(88) {
    background-color: #585858;
    left: 8700vw; }
  .range__item:nth-child(89) {
    background-color: #595959;
    left: 8800vw; }
  .range__item:nth-child(90) {
    background-color: #5a5a5a;
    left: 8900vw; }
  .range__item:nth-child(91) {
    background-color: #595959;
    left: 9000vw; }
  .range__item:nth-child(92) {
    background-color: #585858;
    left: 9100vw; }
  .range__item:nth-child(93) {
    background-color: #575757;
    left: 9200vw; }
  .range__item:nth-child(94) {
    background-color: #565656;
    left: 9300vw; }
  .range__item:nth-child(95) {
    background-color: #555555;
    left: 9400vw; }
  .range__item:nth-child(96) {
    background-color: #545454;
    left: 9500vw; }
  .range__item:nth-child(97) {
    background-color: #535353;
    left: 9600vw; }
  .range__item:nth-child(98) {
    background-color: #525252;
    left: 9700vw; }
  .range__item:nth-child(99) {
    background-color: #515151;
    left: 9800vw; }
  .range__item:nth-child(100) {
    background-color: #505050;
    left: 9900vw; }
  .range__item:nth-child(101) {
    background-color: #4f4f4f;
    left: 10000vw; }
  .range__item:nth-child(102) {
    background-color: #4e4e4e;
    left: 10100vw; }
  .range__item:nth-child(103) {
    background-color: #4d4d4d;
    left: 10200vw; }
  .range__item:nth-child(104) {
    background-color: #4c4c4c;
    left: 10300vw; }
  .range__item:nth-child(105) {
    background-color: #4b4b4b;
    left: 10400vw; }
  .range__item:nth-child(106) {
    background-color: #4a4a4a;
    left: 10500vw; }
  .range__item:nth-child(107) {
    background-color: #494949;
    left: 10600vw; }
  .range__item:nth-child(108) {
    background-color: #484848;
    left: 10700vw; }
  .range__item:nth-child(109) {
    background-color: #474747;
    left: 10800vw; }
  .range__item:nth-child(110) {
    background-color: #464646;
    left: 10900vw; }
  .range__item:nth-child(111) {
    background-color: #454545;
    left: 11000vw; }
  .range__item:nth-child(112) {
    background-color: #444444;
    left: 11100vw; }
  .range__item:nth-child(113) {
    background-color: #434343;
    left: 11200vw; }
  .range__item:nth-child(114) {
    background-color: #424242;
    left: 11300vw; }
  .range__item:nth-child(115) {
    background-color: #414141;
    left: 11400vw; }
  .range__item:nth-child(116) {
    background-color: #404040;
    left: 11500vw; }
  .range__item:nth-child(117) {
    background-color: #3f3f3f;
    left: 11600vw; }
  .range__item:nth-child(118) {
    background-color: #3e3e3e;
    left: 11700vw; }
  .range__item:nth-child(119) {
    background-color: #3d3d3d;
    left: 11800vw; }
  .range__item:nth-child(120) {
    background-color: #3c3c3c;
    left: 11900vw; }
  .range__item:nth-child(121) {
    background-color: #3b3b3b;
    left: 12000vw; }
  .range__item:nth-child(122) {
    background-color: #3a3a3a;
    left: 12100vw; }
  .range__item:nth-child(123) {
    background-color: #393939;
    left: 12200vw; }
  .range__item:nth-child(124) {
    background-color: #383838;
    left: 12300vw; }
  .range__item:nth-child(125) {
    background-color: #373737;
    left: 12400vw; }
  .range__item:nth-child(126) {
    background-color: #363636;
    left: 12500vw; }
  .range__item:nth-child(127) {
    background-color: #353535;
    left: 12600vw; }
  .range__item:nth-child(128) {
    background-color: #343434;
    left: 12700vw; }
  .range__item:nth-child(129) {
    background-color: #333333;
    left: 12800vw; }
  .range__item:nth-child(130) {
    background-color: #323232;
    left: 12900vw; }
  .range__item:nth-child(131) {
    background-color: #313131;
    left: 13000vw; }
  .range__item:nth-child(132) {
    background-color: #303030;
    left: 13100vw; }
  .range__item:nth-child(133) {
    background-color: #2f2f2f;
    left: 13200vw; }
  .range__item:nth-child(134) {
    background-color: #2e2e2e;
    left: 13300vw; }
  .range__item:nth-child(135) {
    background-color: #2d2d2d;
    left: 13400vw; }
  .range__item:nth-child(136) {
    background-color: #2c2c2c;
    left: 13500vw; }
  .range__item:nth-child(137) {
    background-color: #2b2b2b;
    left: 13600vw; }
  .range__item:nth-child(138) {
    background-color: #2a2a2a;
    left: 13700vw; }
  .range__item:nth-child(139) {
    background-color: #292929;
    left: 13800vw; }
  .range__item:nth-child(140) {
    background-color: #282828;
    left: 13900vw; }
  .range__item:nth-child(141) {
    background-color: #272727;
    left: 14000vw; }
  .range__item:nth-child(142) {
    background-color: #262626;
    left: 14100vw; }
  .range__item:nth-child(143) {
    background-color: #252525;
    left: 14200vw; }
  .range__item:nth-child(144) {
    background-color: #242424;
    left: 14300vw; }
  .range__item:nth-child(145) {
    background-color: #232323;
    left: 14400vw; }
  .range__item:nth-child(146) {
    background-color: #222222;
    left: 14500vw; }
  .range__item:nth-child(147) {
    background-color: #212121;
    left: 14600vw; }
  .range__item:nth-child(148) {
    background-color: #202020;
    left: 14700vw; }
  .range__item:nth-child(149) {
    background-color: #1f1f1f;
    left: 14800vw; }
  .range__item:nth-child(150) {
    background-color: #1e1e1e;
    left: 14900vw; }
  .range__item:nth-child(151) {
    background-color: #1d1d1d;
    left: 15000vw; }
  .range__item:nth-child(152) {
    background-color: #1c1c1c;
    left: 15100vw; }
  .range__item:nth-child(153) {
    background-color: #1b1b1b;
    left: 15200vw; }
  .range__item:nth-child(154) {
    background-color: #1a1a1a;
    left: 15300vw; }
  .range__item:nth-child(155) {
    background-color: #191919;
    left: 15400vw; }
  .range__item:nth-child(156) {
    background-color: #181818;
    left: 15500vw; }
  .range__item:nth-child(157) {
    background-color: #171717;
    left: 15600vw; }
  .range__item:nth-child(158) {
    background-color: #161616;
    left: 15700vw; }
  .range__item:nth-child(159) {
    background-color: #151515;
    left: 15800vw; }
  .range__item:nth-child(160) {
    background-color: #141414;
    left: 15900vw; }
  .range__item:nth-child(161) {
    background-color: #131313;
    left: 16000vw; }
  .range__item:nth-child(162) {
    background-color: #121212;
    left: 16100vw; }
  .range__item:nth-child(163) {
    background-color: #111111;
    left: 16200vw; }
  .range__item:nth-child(164) {
    background-color: #101010;
    left: 16300vw; }
  .range__item:nth-child(165) {
    background-color: #0f0f0f;
    left: 16400vw; }
  .range__item:nth-child(166) {
    background-color: #0e0e0e;
    left: 16500vw; }
  .range__item:nth-child(167) {
    background-color: #0d0d0d;
    left: 16600vw; }
  .range__item:nth-child(168) {
    background-color: #0c0c0c;
    left: 16700vw; }
  .range__item:nth-child(169) {
    background-color: #0b0b0b;
    left: 16800vw; }
  .range__item:nth-child(170) {
    background-color: #0a0a0a;
    left: 16900vw; }
  .range__item:nth-child(171) {
    background-color: #090909;
    left: 17000vw; }
  .range__item:nth-child(172) {
    background-color: #080808;
    left: 17100vw; }
  .range__item:nth-child(173) {
    background-color: #070707;
    left: 17200vw; }
  .range__item:nth-child(174) {
    background-color: #060606;
    left: 17300vw; }
  .range__item:nth-child(175) {
    background-color: #050505;
    left: 17400vw; }
  .range__item:nth-child(176) {
    background-color: #040404;
    left: 17500vw; }
  .range__item:nth-child(177) {
    background-color: #030303;
    left: 17600vw; }
  .range__item:nth-child(178) {
    background-color: #020202;
    left: 17700vw; }
  .range__item:nth-child(179) {
    background-color: #010101;
    left: 17800vw; }
  .range__item:nth-child(180) {
    background-color: black;
    left: 17900vw; }
